---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <!--  <h1 class="page-heading">{{ page.title }}</h1>-->
  {%- endif -%}

  {{ content }}

  <h1  id="install" class="install-heading">{{ install.title | default: "How to install the World Builder?" }} </h1>
  The Geodynamic World Builer can be installed on many different systems and coupled with programs written in many differnet programming languages. Linux, OSX and Windows are offically supported operating systems. The World Builder itself is written in C++, but has besides wrappers for C and fortran, also a command line application included. Through the C wrapper it can be called from nearly any other langugage like Python and Matlab. Futhermore a visualzation tool is included. The installation process of each use case is described in the <a class="post-link" href="https://gwb.mfraters.eu/manual/manual.pdf">manual</a>. If you can't find your the install instructions for your case or find mistakes, please create an issue on github or create a pull request with the solution.

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
